# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [12]:
#conn.close()
#print(artist_table_insert)

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [5]:
song_files = get_files("data/song_data/")

In [6]:

filepath = song_files[0]
df = pd.read_json(filepath, lines=True)
print(df)
#song ID, title, artist ID, year, and duration

            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [15]:
#song_data = 
#song_data


for song_index in range(len(song_files)):
    filepath = song_files[song_index]
    
    df = pd.read_json(filepath, lines=True)
    #songs (song_id text, title text, artist_id text, year int, duration float)
    song_data = [df.iloc[0]['song_id'],df.iloc[0]['title'],df.iloc[0]['artist_id'],df.iloc[0]['year'].item(),df.iloc[0]['duration']]
    cur.execute(song_table_insert, song_data)
    conn.commit()

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [16]:
#cur.execute(song_table_insert, song_data)
#conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [17]:
#artists (artist_id text, name text, location text, latitude text, longitude text)
filepath = song_files[0]
df = pd.read_json(filepath, lines=True)

artist_data = [df.iloc[0]['artist_id'],df.iloc[0]['artist_name'],df.iloc[0]['artist_location'],df.iloc[0]['artist_latitude'],df.iloc[0]['artist_longitude']]
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [18]:

for artist_index in range(len(song_files)):
    filepath = song_files[artist_index]
    
    df = pd.read_json(filepath, lines=True)
    #artists (artist_id text, name text, location text, latitude text, longitude text)
    artist_data = [df.iloc[0]['artist_id'],df.iloc[0]['artist_name'],df.iloc[0]['artist_location'],df.iloc[0]['artist_latitude'],df.iloc[0]['artist_longitude']]
    print(artist_data)
    cur.execute(artist_table_insert, artist_data)
    conn.commit()

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]
['ARNTLGG11E2835DDB9', 'Clp', '', nan, nan]
['AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan]
['AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan]
['ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.149679999999996, -90.048919999999995]
['ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan]
['ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan]
['ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.219619999999999, -80.019549999999995]
['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan]
['ARXR32B1187FB57099', 'Gob', '', nan, nan]
['ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan]
['ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37.167929999999998, -95.845020000000005]
['AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', nan, nan]
['ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 43.648560000000003, -79.385329999999996]
['ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan]
['ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan]
['ARYKCQI1187FB3B18F', 'Tesla', '', nan, nan]
['ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34.31109, -94.029780000000002]
['ARNPAGP1241B9C7FD4', 'lextrical', '', nan, nan]
['ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', nan, nan]
['ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', 38.899099999999997, -77.028999999999996]
['ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', nan, nan]
['AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', nan, nan]
['ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 41.884149999999998, -87.632409999999993]
['ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.678280000000001, -83.222949999999997]
['ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', 40.826239999999999, -74.479950000000002]
['AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30.08615, -94.101579999999998]
['AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 37.837209999999999, -94.358680000000007]
['ARNTLGG11E2835DDB9', 'Clp', '', nan, nan]
['ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.731969999999997, -74.174180000000007]
['ARGIWFO1187B9B55B7', 'Five Bolt Main', '', nan, nan]
['AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 49.803879999999999, 15.474909999999999]
['AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.940169999999998, -82.325469999999996]
['AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', 40.79195, -73.945120000000003]
['ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.703800000000001, -73.831680000000006]
['ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan]
['AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', nan, nan]
['ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', 40.994709999999998, -77.60454]
['AR7ZKHQ1187B98DD73', 'Glad', '', nan, nan]
['ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', 37.779159999999997, -122.42005]
['ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', 51.506320000000002, -0.12714]
['ARKULSX1187FB45F84', 'Trafik', 'Utah', 39.499740000000003, -111.54732]
['AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 28.538229999999999, -81.377390000000005]
['AREDBBQ1187B98AFF5', 'Eddie Calvert', '', nan, nan]
['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]
['AROGWRA122988FEE45', 'Christos Dantis', '', nan, nan]
['ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', 40.714550000000003, -74.00712]
['AREDL271187FB40F44', 'Soul Mekanik', '', nan, nan]
['ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', nan, nan]
['ARBGXIG122988F409D', 'Steel Rain', 'California - SF', 37.779159999999997, -122.42005]
['ARGSAFR1269FB35070', 'Blingtones', '', nan, nan]
['AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan]
['ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', nan, nan]
['ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', nan, nan]
['ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 45.807259999999999, 15.967600000000001]
['AR7SMBG1187B9B9066', 'Los Manolos', '', nan, nan]
['ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', 36.16778, -86.778360000000006]
['AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 56.276090000000003, 9.5169499999999996]
['ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', nan, nan]
['ARJIE2Y1187B994AB7', 'Line Renaud', '', nan, nan]
['ARVBRGZ1187FB4675A', 'Gwen Stefani', '', nan, nan]
['AR558FS1187FB45658', '40 Grit', '', nan, nan]
['ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', 40.790860000000002, -73.966440000000006]
['AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177, -80.112780000000001]
['AR051KA1187B98B2FF', 'Wilks', '', nan, nan]
['ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', nan, nan]
['ARULZCI1241B9C8611', 'Luna Orbit Project', '', nan, nan]
['ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', 32.748629999999999, -97.329250000000002]
['ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', 41.884149999999998, -87.632409999999993]
['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan]
['AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13.442, -41.995199999999997]

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [9]:
log_files = get_files("data/log_data/")

In [10]:
filepath = log_files[0]

In [11]:
df = pd.read_json(filepath, lines=True)
#df.head(2)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [8]:
df_matched = df['page']=='NextSong'
df_matched = df[df_matched]
#df.head()

KeyError: 'page'

In [23]:
t = pd.to_datetime(df['ts'], unit='ms')
#for line in t:
    #print(type(line))
#t.head()

test1=[]
print(type(test1))

test2=()
print(type(test2))

<class 'list'>
<class 'tuple'>

In [24]:
#time(start_time time, hour int, day int, week int, month int, year int, weekday boolean)
time_data = []
column_labels = ["start_time","hour","day","week","month","year","weekday"]

for t_entry in t:
    time_data.append((t_entry,t_entry.hour,t_entry.day,t_entry.week,t_entry.month,t_entry.year,t_entry.day_name()))

In [25]:
time_df = pd.DataFrame(time_data, columns=column_labels) 
time_df.head()

               start_time  hour  day  week  month  year weekday
0 2018-11-30 00:22:07.796     0   30    48     11  2018  Friday
1 2018-11-30 01:08:41.796     1   30    48     11  2018  Friday
2 2018-11-30 01:12:48.796     1   30    48     11  2018  Friday
3 2018-11-30 01:17:05.796     1   30    48     11  2018  Friday
4 2018-11-30 01:20:56.796     1   30    48     11  2018  Friday

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [26]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [27]:
#print(df["userId"])
#users(user_id text, first_name text, last_name text, gender text, level text)
column_labels = ["user_id","first_name","last_name","gender","level"]

user_data = []
for index, u_entry in df.iterrows():
    user_data.append((u_entry["userId"],u_entry["firstName"],u_entry["lastName"],u_entry["gender"],u_entry["level"])) 
    
#user_df = 
user_df = pd.DataFrame(user_data, columns=column_labels) 
user_df.head()

  user_id first_name last_name gender level
0      91     Jayden      Bell      M  free
1      73      Jacob     Klein      M  paid
2      73      Jacob     Klein      M  paid
3      73      Jacob     Klein      M  paid
4      73      Jacob     Klein      M  paid

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [28]:
print(user_table_insert)
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

insert into users (user_id,first_name,last_name,gender,level) values (%s,%s,%s,%s,%s) ON CONFLICT (user_id) DO NOTHING;

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [29]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    #print(index)
    #print(row)
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        print(results)
        song_id, artist_id = results
    else:
        song_id, artist_id = None, None
        
    songplay_data = [index,pd.to_datetime(row.ts, unit='ms'),row.userId,row.level,song_id,artist_id,row.sessionId,
                     row.location,row.userAgent]
     # insert songplay record
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [30]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.